<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.KeyVault.WebKey" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.4.0" newVersion="3.0.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="RequestQueue" value="adlstest" />
    <add key="ResultQueue" value="result" />
    <add key="MaxConcurrentCalls" value="20" />
    <add key="KeyVaultName" value="datacop-ppe" />
    <add key="Environment" value="ppe" />
    <add key="CacheExpirePeriodInHours" value="2" />
    <add key="KenshoSecretName" value="KenshoAPITenantKey" />
    <add key="KenshoUIURL" value="https://portal-metrics-advisor.azurewebsites.net" />
    <add key="KenshoAPIURL" value="https://metrics-advisor-datacop-prod-api.azurewebsites.net" />
    <add key="KenshoCosmosVC" value="https://cosmos14.osdinfra.net/cosmos/ideas.prod" />
    <add key="KenshoBackendSecretName" value="KenshoBackendAPITenantKey" />
    <add key="KenshoBackendAPIURL" value="https://westus2.api.cognitive.microsoft.com" />
    <add key="TenantId" value="cdc5aeea-15c5-4db6-b079-fcadd2505dc2" />
  </appSettings>
</configuration>