################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs

/CSharpDemo/bin
/CSharpDemoAux/bin

/CSharpDemo/obj
/CSharpDemoAux/obj

/packages