################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs

/AzureKustoDemo/bin
/CosmosDemo/bin
/CSharpDemo/bin
/CSharpDemoAux/bin
/CSharpDemoReferenceAux/bin

/AzureKustoDemo/obj
/CosmosDemo/obj
/CSharpDemo/obj
/CSharpDemoAux/obj
/CSharpDemoReferenceAux/obj

/packages