<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nodeTypes" type="AzureSparkDemo.Models.NodeTypesSection,AzureSparkDemo" />
    <section name="libraries" type="AzureSparkDemo.Models.LibrariesSection,AzureSparkDemo" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.14.2.11" newVersion="3.14.2.11" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.KeyVault.WebKey" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.4.0" newVersion="3.0.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="RequestQueue" value="sparktest" />
    <add key="ResultQueue" value="result" />
    <add key="MaxConcurrentCalls" value="20" />
    <add key="KeyVaultName" value="datacop-ppe" />
    <add key="SparkNumWorkersMin" value="1" />
    <add key="SparkNumWorkersMax" value="20" />
    <add key="NodeType" value="Standard_DS12_v2" />
    <add key="Environment" value="ppe" />
    <add key="MaxDegreeOfParallelism" value="5" />
    <add key="TimeoutSeconds" value="7000"/>
    <add key="TenantId" value="cdc5aeea-15c5-4db6-b079-fcadd2505dc2" />
  </appSettings>
  <nodeTypes>
    <nodeTypeExpression type="Standard_DS3_v2" memory="14000000000" cost=".504" />
    <nodeTypeExpression type="Standard_DS12_v2" memory="28000000000" cost=".67" />
  </nodeTypes>

  <libraries>
    <libraryExpression path="dbfs:/mnt/lib/structuredstreamforspark_2.11-2.4.2-1.2.2.jar" comment="Reading SSTream from Spark" />
    <libraryExpression path="dbfs:/mnt/lib/omslogger-0.1-py3.7.egg" comment="Writing to Log Analytics from Python Notebooks" />
  </libraries>
</configuration>