<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Azure.DataLake.Store" version="1.1.16" targetFramework="net462" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="3.14.2" targetFramework="net462" />
  <package id="Microsoft.IdentityModel.Logging" version="5.4.0" targetFramework="net462" />
  <package id="Microsoft.IdentityModel.Tokens" version="5.4.0" targetFramework="net462" />
  <package id="Microsoft.Rest.ClientRuntime" version="2.3.19" targetFramework="net462" />
  <package id="Microsoft.Rest.ClientRuntime.Azure.Authentication" version="2.3.7" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net462" />
  <package id="NLog" version="4.4.12" targetFramework="net462" />
  <package id="System.Net.Requests" version="4.3.0" targetFramework="net462" />
</packages>